{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<title>Chart</title>

	<link rel="stylesheet" href="{% static 'css_files/style.css' %}">
	<link rel="stylesheet" href="{% static 'css_files/link.css' %}">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Fira Sans Extra Condensed' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Nanum Myeongjo' rel='stylesheet' type='text/css'>
</head>
</head>
<body>
	<header class ="header">
			<div class="container">
						<h1>BloodNepal</h1>
						<span>"A pint can save many lives"</span>
			</div>

			<div class="but-id">
				<a class="fish" href="donate.html">Donate Blood</a>
				<a class="fish" href="organization.html">Organization</a>
				<a class="fish" href="getinvolved.html">Get Involved</a>
				<a class="fish" href="https://bloodbank.ky/">Blood Bank Data</a>
			</div>	
	</header><br><br>
<script>
    window.onload = function() {
        var charts = document.getElementsByClassName("myChart");

        var listOp = [];
        var listOn = [];
        var listAp = [];
        var listAn = [];
        var listBp = [];
        var listBn = [];
        var listAbp = [];
        var listAbn = [];
        var nameList = [];
        {% for item in qs %}
            var temp = '{{item.op}}';
            listOp.push(temp);
            temp = '{{item.name}}'
            nameList.push(temp);
            temp = '{{item.on}}'
            listOn.push(temp);
            temp = '{{item.ap}}'
            listAp.push(temp);
            temp = '{{item.an}}'
            listAn.push(temp);
            temp = '{{item.bp}}'
            listBp.push(temp);
            temp = '{{item.bn}}'
            listBn.push(temp);
            temp = '{{item.abp}}'
            listAbp.push(temp);
            temp = '{{item.abn}}'
            listAbn.push(temp);
        {% endfor %}

        var i=0;
        for (chart of charts){

            var ctx = chart.getContext('2d');

            Chart.defaults.global.defaultFontFamily='Montserrat';
            Chart.defaults.global.defaultFontSize=18;

            var chartData = {
                    labels: [nameList[i]],
                    datasets: [{
                        label: 'o positive',
                        data: [listOp[i]],
                        backgroundColor: [{% for item in qs %} 'rgba(255, 0, 0, 0.9)',{% endfor %}],
                        borderWidth: 2,
                        fill: false
                    },{
                    label: 'o negative',
                        data: [listOn[i]],
                        backgroundColor: [{% for item in qs %} 'rgba(0, 255, 0, 0.9)',{% endfor %}],
                        borderWidth: 2,
                        fill: false
                    },{
                    label: 'a positive',
                        data: [listAp[i]],
                        backgroundColor: [{% for item in qs %} 'rgba(0, 0, 255, 0.9)',{% endfor %}],
                        borderWidth: 2,
                        fill: false
                    },{
                    label: 'a negative',
                        data: [listAn[i]],
                        backgroundColor: [{% for item in qs %} 'rgba(255, 128, 0, 0.9)',{% endfor %}],
                        borderWidth: 2,
                        fill: false
                    },{
                    label: 'b positive',
                        data: [listBp[i]],
                        backgroundColor: [{% for item in qs %} 'rgba(255, 255, 0, 0.9)',{% endfor %}],
                        borderWidth: 2,
                        fill: false
                    },{
                    label: 'b negative',
                        data: [listBn[i]],
                        backgroundColor: [{% for item in qs %} 'rgba(255, 0, 127, 0.9)',{% endfor %}],
                        borderWidth: 2,
                        fill: false
                    },{
                    label: 'ab positive',
                        data: [listAbp[i]],
                        backgroundColor: [{% for item in qs %} 'rgba(127, 255, 255, 0.9)',{% endfor %}],
                        borderWidth: 2,
                        fill: false
                    },{
                    label: 'ab negative',
                        data: [listAbp[i]],
                        backgroundColor: [{% for item in qs %} 'rgba(96, 96, 127, 0.9)',{% endfor %}],
                        borderWidth: 2,
                        fill: false
                    }]
                };

            var chartOptions =  {
                "hover": {
            "animationDuration": 0
                        },
             "animation": {
                    "duration": 1,
                    "onComplete": function () {
                        var chartInstance = this.chart,
                        ctx = chartInstance.ctx;

                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';

                        this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                                var data = dataset.data[index];                            
                                ctx.fillText(data, bar._model.x, bar._model.y - 5);
                            });
                        });
                    }
                },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                max:120,
                            },
                             scaleLabel: {
                                display: true,
                                labelString: 'Liters'
                              }
                        }]
                    }
                };

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: chartData,
                options: chartOptions,
            });
             i = i+1;
    }
}
</script>
<div class="title">
        Data Of <h class = "h-title">Blood</h> Banks Of Nepal<hr class="title-hr">
    </div>
{% for items in qs %}
<div class="conty">
    <canvas class="myChart"></canvas>

</div><br><br>
<div align="center">
    <table>
        <tr>
            <th>{{items.name}}</th>
            <th>distance</th>
        </tr>
    </table>
</div>

{% endfor %}
<br><br>

<div class="conc">
            
            <div class="title2">
                Contact Us
            </div>

            <div class="desp3">
                <a href="mailto:giridip862101@gmail.com"><img src="{% static 'image/mail.png' %}" alt="Mail Us"></a>
                <img src="{% static 'image/phone.png' %}" alt="Call Us">
                <img src="{% static 'image/tweet.png' %}" alt="Tweet Us">
            </div>
</div>

</body>
</html>