{% extends 'base.html' %}

{% block title %}
Join Hands
{% endblock %}

{% block heading %}
Join Hands
{% endblock %}

{% block body %}

  
    <div class="desp">
        "To me donating blood is almost an obligation because you’re helping people as well as yourself. I started donating in 1968 when they had the old hospital where Immigration is now located. Back then, the process was definitely not as comfortable as it is now; you felt it more. It soon became natural to me and now I look forward to it. It gives me satisfaction that I’m doing something to help the community."
        <br><br>
        -David Arch<br>
        <i>Blood Donor<i>
    </div><br>

    <hr class="title-hr"><br>

    <div class="contx">
            <div class="oval">
                <div class="title2">
                    <h class="xyz">Give Blood</h>
                </div><br>
                Save a life by booking an appointment today.
            </div>
            <div class="oval">
                <div class="title2">
                    <h class="xyz">Make a financial contribution</h>
                </div><br>
            </div>
            <div class="oval">
                <div class="title2">
                    <h class="xyz">Spread the word on social media</h>
                </div><br>
            </div>
        </div>
<br>
    <br>

{% endblock %}