<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NEPAL BLOOD\About us</title>
  </head>
  <h3>About us</h3>
  <nav>


  <ul type="none">
    <li><a href="donate.html">DONATE BLOOD</a></li>
        <li><a href="organization.html">ORGANIZATION</a></li>
          <li><a href="getinvolved.html">GET INVOLVED</a></li>


  </ul>
  </nav
  <body>
<p>

ABC advocates for and advances policies that promote the role of independent blood centers in providing life-saving blood components and recognize the continuous need for a safe and robust blood supply.
<br>
America's Blood Centers exists to:

Advocate for laws and regulations recognizing the essential role that independent blood centers play in the healthcare system;
Promote partnerships, policies and programs that increase awareness about the need for blood donation;
Serve as a thought-leader in the advancement of evidence-based medical and scientific solutions related to health and safety.
Blood donors are essential to the blood supply. America's Blood Centers and our member blood centers rely on donors like you to help save lives.
<br><br>
<b>Get Involved!</b>
<br><br>
America's Blood Centers is made up of independent community blood centers throughout the U.S. and Canada. Our member blood centers are responsible for half the nation's blood supply. We provide staff at these blood centers with a variety of resources and programs, including: education and networking workshops; electronic bulletin boards for center information and best practice sharing (Listserv); scientific, medical, technical, quality, and regulatory expertise; and legislative support.
<br><br>
If you work at one of our member blood centers, please visit the Members website for additional information.

Visit the Members Website
<br>
click <a href="mailto:giridip862101@gmail.com">here!!</a>




  </p>
  </body>
</html>
