{% extends 'base.html' %}

{% block title %}
Carrer with us
{% endblock %}

{% block heading %}
Carrer with us
{% endblock %}

{% block body %}

    <div class="title">
        Why Give <h class="h-title">Blood</h>
    </div><br>

    <div class="desp">
        Blood can't be replaced by anything in the world. A single donation can save up to three people's lives. 500 Caymanians will need blood transfusions this year.
            <br><br>
        Saving three lives in 15 minutes... how does that sound?
            <br><br>
        Registration only takes about 2 minutes. You can also apply to volunteer. Volunteering help you earn certificates. You can also donate to this program. Helping others will help you earn badges. Who knew being a hero was this easy?
    </div>
    <br>

    <hr class="title-hr">

    <div class="title">
         How Your<h class="h-title"> Blood</h> is Used
    </div>

        <div class="contx">
            <div class="oval">
                <div class="title2">
                    <h class="xyz">70%</h>
                </div><br>
                Help Medical Condtions Like Anaemia, Cancer, etc
            </div>
            <div class="oval">
                <div class="title2">
                    <h class="xyz">25%</h>
                </div><br>
                 Used in Surgeries
            </div>
            <div class="oval">
                <div class="title2">
                    <h class="xyz">5%</h>
                </div><br>
                Treat Blood loss after Childbirth
            </div>
        </div>
    

    <br>
    <br>
{% endblock %}