{% extends 'base.html' %}

{% block title %}
Organization
{% endblock %}

{% block heading %}
Organization
{% endblock %}

{% block body %}
	
	<div class="title">
		Introduction
	</div><br>
	<div class="desp">
		Nepal Red Cross Society (NRCS) came into being in 1963. It was recognized by the ICRC in 1964 and affiliated to the International Federation of Red Cross and Red Crescent Societies in the same year. NRCS has, over the years, grown to be the largest humanitarian organization in Nepal, with its network of District Chapters (DCs) extended in each of the 75 districts of the country.<br><br>
		District Chapters receive organizational support from more than 800 Sub-Chapters and Co-operation Committees under them. A significant portion of its activities are also borne by students and youth volunteers of Nepal Junior and Youth Red Cross Circles organized at schools, campuses and communities.
	</div>
	<br>
	<hr class="title-hr">
	<div class="title">
		 Our<h class="h-title"> principles</h>
	</div>
	<div class = "Cont1">
		<div id="CR" class="desp">
			<div class="title2">
				<p class="bord">Humanity</p>
			</div><br>
			The International Red Cross and Red Crescent Movement, born of a desire to bring assistance without discrimination to the wounded on the battlefield, endeavours, in its international and national capacity, to prevent and alleviate human suffering wherever it may be found.<br><br>
		</div>
		<div id="CR" class="desp">
			<div class="title2">
				<p class="bord">Impartality</p>
			</div><br>
			 It makes no discrimination as to nationality, race, religious beliefs, class or political opinions. 
			 In order to continue to enjoy the confidence of all, the Movement may not take sides in hostilities or engage at any time in controversies of a political, racial, religious or ideological nature.
		</div>
		<div id="CR" class="desp">
			<div class="title2">
				<p class="bord">Independence</p>
			</div><br>
			The Movement is independent. The National Societies, while auxiliaries in the humanitarian services of their governments and subject to the laws of their respective countries, must always maintain their autonomy so that they may be able at all times to act in accordance with the principles of the Movement.
		</div>
	</div>
	<br>
	<br><br>
	<center><iframe width="700" height="400" src="https://www.youtube.com/embed/-1O4jlEhsxU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</center>
	<br>
	<br>
{% endblock %}